@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.todos-bg-container {
    background-color: #FBF3D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
}

.todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 600;
    margin-top: 20px;
    color: #B46060;
    margin-bottom: 20px;
}

.create-task-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: #B46060;
    margin-bottom: 8px;
}

.todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: #B46060;
}
.todo-items-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.todo-item-container {
    
    margin-top: 15px;
    width: 80vw;
}

.todo-user-input {
    background-color: white;
    width: 59%;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 14px;
    outline: none;
}

.button {
    color: white;
    background-color: #497174;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 22px;
    padding-left: 22px;
}

.label-container {
    background-color: #D7E9B9;
    width: 72%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

.checkbox-input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 18px;
    color: #3F3B3B;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 20px;
    border-radius: 5px;
}

.date-info{
    font-family: "Roboto";
    font-size: 18px;
    color: #3F3B3B;
    font-weight: 400;
    width: 82%;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    padding: 15px;
}

.checked {
    text-decoration: line-through;
    font-style: italic;
}